{% extends "title_base.html"  %}
{% block title  %}
{% load static %}
<link type="image/x-icon" rel="shortcut icon" href="{% static "favicon.ico" %}">
<link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "css/comment.css" %}">
</head>
 <style type="text/css">
    #PlaceOrderButton{text-align: center;vertical-align:middle;width:100px;height:28px;border:0 none;background-color:#30C37E;color:#fff;font:16px/34px 'Microsoft YaHei';}
    #OrderNumberEnter{float:left;width:200px;height:24px;border:2px solid #30C37E;font:14px/20px 'Microsoft YaHei';color:#999;}
    </style>

<body class="review">
	<div class="header">
		<a href="/" class="logo" title="Home Page"><img alt="Book Store" src="{% static "image/logo.png" %}"></a>
		<div class="search-box">
			<form id="searchForm" action="{% url 'search' 1 %}" method="post" target="_blank">
                {% csrf_token %}
                <div class="search-keyword">
                    <input id="kword" name="kword" type="text" class="keyword" maxlength="120" placeholder="Enter a book name"  />
                </div>
	            <input id="subSerch" type="submit" class="search-button" value="Search" />
	        </form>
			<div id="suggest" class="search-suggest"></div>
			<div class="search-hot-words">
                {% for book in search_book  %}
                    <a target="play" href="{% url 'play' book.book.book_id %}" >{{ book.book.book_name }}</a>
                {% endfor  %}
			</div>
		</div>
	</div><!--end header-->
	<div class="nav-box">
		<div class="nav-box-inner">
			<ul class="nav clearfix">
				<li><a href="/">Home Page</a></li>
				<li><a href="{% url 'order1'  %}">Recommend</a></li>
	    	    <li><a href="{% url 'home' 1 %}" target="_blank">User Profile</a></li>
			</ul>
		</div>
	</div><!--end nav-box-->
	<div class="wrapper">
		<div class="breadcrumb">
			<a href="/">Home Page</a> &gt;
					<a href="{% url 'play' book_id %}" target="_self">{{book_name}}</a> &gt;
			<span>Comment</span>
		</div>
		<div class="page-title" id="currentBook"></div>
	</div>
	<div class="wrapper">
        <div class="section">
            <div class="section-header"><h3 class="section-title">User comment Rate:{{book_rate}}</h3></div>
            <div class="section-content comments-score-new review-comments-score clearfix">
                <div class="clearfix">

                <!--comment box-->
                    <div class="comments-box">
                    <div class="comments-box-title">Write Comment<<{{ book_name }}>></div>
                        <div class="comments-box-title">You have comment, cannot comment twice!!>></div>
                    <div class="comments-default-score clearfix"></div>
                    <form action="" method="post" id="usrform">
                        {% csrf_token %}
                        <div class="writebox">
                            <textarea name="comment" form="usrform"></textarea>
                        </div>
                        <div id="radiobutton">
                            book rating:
                            <input name="numrating"  type="radio" value="1"/>1
                            <input name="numrating"  type="radio" value="2"/>2
                            <input name="numrating"  type="radio" value="3"/>3
                            <input name="numrating"  type="radio" value="4"/>4
                            <input name="numrating"  type="radio" value="5"/>5
                            <input name="numrating"  type="radio" value="6"/>6
                            <input name="numrating"  type="radio" value="7"/>7
                            <input name="numrating"  type="radio" value="8"/>8
                            <input name="numrating"  type="radio" value="9"/>9
                            <input name="numrating"  type="radio" value="10"/>10
                        </div>
                        <div class="comments-box-button clearfix">
                        <input type="submit" value="Submit" class="_j_cc_post_entry cc-post-entry" id="scoreBtn">
                        <input id="OrderNumberEnter" name="kint" type="text" class="keyword" maxlength="120" placeholder=" Top N"  />
                        <input id="PlaceOrderButton" type="submit" name="top" value="TOP N" />
                        <div data-role="user-login" class="_j_cc_post_login"></div>
                        </div>
                        <div id="scoreTips2" style="padding-top:10px;"></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br/>

    <div class="wrapper clearfix">
	<div class="content">
  	<div id="J_CommentList">
        <ul class="comment-list">
            {% for item in contacts.object_list  %}
            <li class="comment-item ">
                <div class="comments-user">
                <span class="face">
                  <a href="{% url 'comment1' item.comment_user book_id %}"><img src="{% static "image/user.jpg" %}" width="60" height="60"></a>
                </span>
                </div>
                <div class="comments-list-content">
                <div class="single-score clearfix">
                    <span class="date">&nbsp&nbsp Score: {{ item.comment_rate }}</span>
                    <span class="date">{{ item.comment_date }}</span>
                    <div><span class="score">{{ item.comment_user }}</span></div>
                </div>
                <!--comments-content-->
                <div class="comments-content">
                    <div class="J_CommentContent comment-height-limit">
                        <div class="content-inner">
                            <div class="comments-words">
                               <a href="{% url 'commentscore' item.comment_id book_id %}"><p>{{ item.comment_text }}</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </li>
            {% endfor  %}
        </ul>
        <div class="page-box">
            <div class="pagebar" id="pageBar">
                {% if contacts.has_previous %}
                    <a href="{% url 'comment' book_id %}?page={{ contacts.previous_page_number }}" class="prev" target="_self"><i></i>上一页</a>
                {% endif %}
                {% for page in contacts.paginator.page_range %}
                    {% if contacts.number == page %}
                        <span class="sel">{{ page }}</span>
                    {% else %}
                        <a href="{% url 'comment' book_id %}?page={{ page }}" target="_self">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                    <a href="{% url 'comment' book_id %}?page={{ contacts.next_page_number }}" class="next" target="_self">下一页<i></i></a>
                {% endif %}
            </div>
        </div>
    </div>
	</div>
    </div>
{% endblock  %}
