{% extends "title_base.html"  %}

{% block title  %}
{% load static %}
<link type="image/x-icon" rel="shortcut icon" href="{% static "favicon.ico" %}">
<link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "css/play.css" %}">

</head>
<body>
	<div class="header">
		<a href="/" class="logo" title="Home Page"><img src="{% static "image/logo.png" %}"></a>
		<div class="search-box">
			<!-- 歌曲查询 -->
            <form id="searchForm" action="{% url 'search' 1 %}" method="post" target="_blank">
            {% csrf_token %}
            <div class="search-keyword">
              <input id="kword" name="kword" type="text" class="keyword" maxlength="120" placeholder="Enter to search"  />
            </div>
            <input id="subSerch" type="submit" class="search-button" value="Search" />
            </form>
            <div id="suggest" class="search-suggest"></div>
            <div class="search-hot-words">
                {% for book in search_book  %}
                <a target="play" href="{% url 'play' book.book.book_id %}" >{{ book.book.book_name }}</a>
                {% endfor  %}
            </div>
		</div>
	</div><!--end header-->
	<div class="nav-box">
		<div class="nav-box-inner">
			<ul class="nav clearfix">
				<li><a href="/">Home Page</a></li>
				<li><a href="{% url 'order1'  %}">Recommend</a></li>
	    	    <li><a href="{% url 'home' 1 %}" target="_blank">User Profile</a></li>
			</ul>
		</div>
	</div><!--end nav-box-->
	<!--后期修改-->
	<div class="wrapper clearfix">
        <div class="content">
            <div class="product-detail-box clearfix">
                <div class="product-pics">
                    <div class="music_box">
                        <div id="jquery_jplayer_1" class="jp-jplayer" data-url={% static "bookFile/" %}{{ book_info.book_file }}></div>
                        <div class="jp_img layz_load pic_po" title="Play"><img data-src={% static "UserImg/" %}{{ user_info.img }}></div>
                        
                    </div><!--end music_box-->
                    
                </div><!--end product-pics-->
                <div class="product-detail-main">
                    <div class="product-price">
                        <h1 id="currentSong" >User Profile</h1>
                        <div class="product-price-info">
                            <span>User:  {{user_info.username}}</span>
                        </div>
                        <div class="product-price-info">
                            <span>Trust Score:  {{ user_info.score }}</span>
                            <span>Notrust Score:  {{ user_info.disscore }}</span>
                        </div>
                        <div class="product-price-info">
                            <span>Created: {{ user_info.date_joined }}</span>
                        </div>
                    </div><!--end product-price-->
                    <div class="product-comment">
                        <div class="links clearfix">
                            <a class="minimum-link-A" href="{% url 'comment3' commentuser book_id %}">Trust</a>
                            <a class="minimum-link-A" href="{% url 'comment2' commentuser  book_id %}" >NoTrust</a>
                        </div><!-- end links-->
                        
                        
                    </div><!-- end product-comment -->
                </div><!-- end product-detail-main -->
            </div><!-- end product-detail-box -->
<div class="wrapper clearfix">
	<div class="content">
  	<div id="J_CommentList">
        <ul class="comment-list">
            {% for item in contacts.object_list  %}
            <li class="comment-item ">
                <div class="comments-user">
                <span class="face">
                <img src="{% static "image/user.jpg" %}" width="60" height="60">
                </span>
                </div>
                <div class="comments-list-content">
                <div class="single-score clearfix">
                    <span class="date">{{ item.comment_date }}</span>
                    <div><span class="score">{{ item.comment_user }}</span></div>
                </div>
                <!--comments-content-->
                <div class="comments-content">
                    <div class="J_CommentContent comment-height-limit">
                        <div class="content-inner">
                            <div class="comments-words">
                                <p>{{ item.comment_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </li>
            {% endfor  %}
        </ul>
        <div class="page-box">
            <div class="pagebar" id="pageBar">
                {% if contacts.has_previous %}
                    <a href="{% url 'comment' book_id %}?page={{ contacts.previous_page_number }}" class="prev" target="_self"><i></i>???</a>
                {% endif %}
                {% for page in contacts.paginator.page_range %}
                    {% if contacts.number == page %}
                        <span class="sel">{{ page }}</span>
                    {% else %}
                        <a href="{% url 'comment' book_id %}?page={{ page }}" target="_self">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                    <a href="{% url 'comment' book_id %}?page={{ contacts.next_page_number }}" class="next" target="_self">???<i></i></a>
                {% endif %}
            </div>
        </div>
    </div>
	</div> <!-- end class content -->
    </div> <!-- end class wrapper -->
 

	<script data-main="{% static "js/play.js" %}" src="{% static "js/require.js" %}"></script>
{% endblock  %}
